body{
    font-family: 'Poppins' sans-serif;
}
h1{
    font-size: 30px;
}
.name-highlight{
    color: orange;

}
.half-width{
    width: 35%;
    float: left;
    margin-left: 7%;
    padding-left: 5%;
}
.half-width img{
    width: 100%;
}